<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{ pageTitle }}</title>
        <link rel="icon" type="image/png" href="./images/twemoji/1f30d.png" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" rel="stylesheet" />
        <link href='https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.2/dist/leaflet.fullscreen.min.css' rel='stylesheet' />
        <link href="./templates/style.css" rel="stylesheet">
        <link href="./templates/themes/{{ theme ?? 'default' }}.css" rel="stylesheet">
    </head>

    <body class="text-center my-2 my-lg-5">
        <h1 class="my-3">{{ pageTitle }}</h1>
        <div class="content mx-auto mt-lg-4">
            <div id="map_osm"></div>
        </div>
        <div class="mx-auto my-3 my-lg-4">
            {% for stat in stats %}
                {{ stat|replace({'%countriesCount%': countriesCount, '%flightsCount%': flightsCount})|raw }}
                {{ not loop.last ? '<br>' }}
            {% endfor %}
        </div>
        <div id="trips" class="content mx-auto mb-5">
            <table class="travel-table table table-hover">
                <thead>
                    <th class="sort" data-sort="id">📅 Date </th>
                    <th colspan="2">🌍 Pays</th>
                    <th class="d-none d-md-block">🕒 Durée</th>
                    <th>📍 Villes</th>
                </thead>
                <tbody class="list">
                {% for travel in travels %}
                    <tr data-id="{{ loop.index }}">
                        <td>
                            {{ travel.startDate.year }}
                            <small>{{ travel.startDate.monthName ?: '??' }}</small>
                            <small class="d-md-none"><br>{{ travel.length }} jours</small>
                        </td>
                        <td>{{ travel.transportMode }}</td>
                        <td class="text-start">
                            <img class="flag" src="./images/twemoji/{{ travel.country.flag }}"/>
                            {{ travel.country.name }}
                        </td>
                        <td class="d-none d-md-table-cell">{{ travel.length }} jours</td>
                        <td class="col-cities">
                            {% for city in travel.cities %}
                                <span class="city {{ city.style }}">{{ city.name }}</span>{{ not loop.last ? ',' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>  </body>
  	<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.2/dist/Leaflet.fullscreen.min.js'></script>
    <script type="text/javascript">{% include 'script.js' with {'mapPoints': mapPoints} %}</script>
</html>
