body {
    /* background: url('../images/annie-spratt-qyAka7W5uMY-unsplash.jpg') fixed 50% 50%; */
}

.content {
    max-width: 800px;
    /* background: rgba(255, 255, 255, 0.8); */
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

#map_osm {
	width: 100%;
	height: 400px;
	border: 0;
}

.travel-table th {
    white-space: nowrap;
}

.travel-table th.sort {
    cursor: pointer;
}

.travel-table th.sort.desc::after {
    content: "↑";
}

.travel-table th.sort.asc::after {
    content: "↓";
}

.travel-table td.col-cities {
    max-width: 200px;
}

img.flag {
    width: 24px;
}

.city.gras {
    font-weight: bold;
}

.city.sous-ligné {
    text-decoration: underline;
}

/* override leaflet.markercluster.css */
.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 22px;
    height: 22px;
    margin-left: 4px;
    margin-top: 4px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 22px;
    color: white;
}

.marker-cluster-small {
    background-color: transparent;
}

.marker-cluster-small div {
    width: 18px;
    height: 18px;
}

.marker-cluster-small span {
    line-height: 16px;
}
