h1 {
    color: darkblue;
}

.marker-cluster-small div {
    background-color: rgba(50, 50, 255, 0.5);
}

.marker-cluster-medium {
    background-color: rgba(30, 30, 190, 0.2);
}

.marker-cluster-medium div {
    background-color: rgba(30, 30, 190, 0.6);
}

.marker-cluster-large {
    background-color: rgba(0, 0, 130, 0.2);
}

.marker-cluster-large div {
    background-color: rgba(0, 0, 130, 0.6);
}
