h1 {
    color: gold;
}

.marker-cluster-small div {
    background-color: rgba(250, 210, 50, 0.7);
}

.marker-cluster-medium {
    background-color: rgba(210, 180, 30, 0.2);
}

.marker-cluster-medium div {
    background-color: rgba(210, 180, 30, 0.6);
}

.marker-cluster-large {
    background-color: rgba(190, 140, 0, 0.2);
}

.marker-cluster-large div {
    background-color: rgba(190, 140, 0, 0.6);
}
