h1 {
    color: forestgreen;
}

.marker-cluster-small div {
    background-color: rgba(40, 200, 40, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(30, 140, 30, 0.2);
}

.marker-cluster-medium div {
    background-color: rgba(30, 140, 30, 0.6);
}

.marker-cluster-large {
    background-color: rgba(0, 80, 0, 0.2);
}

.marker-cluster-large div {
    background-color: rgba(0, 80, 0, 0.6);
}
