h1 {
    color: hotpink;
}

.marker-cluster-small div {
    background-color: rgba(255, 100, 180, 0.7);
}

.marker-cluster-medium {
    background-color: rgba(200, 80, 140, 0.2);
}

.marker-cluster-medium div {
    background-color: rgba(200, 80, 140, 0.7);
}

.marker-cluster-large {
    background-color: rgba(150, 60, 110, 0.2);
}

.marker-cluster-large div {
    background-color: rgba(150, 60, 110, 0.7);
}
